//GENERAL

.pokedex-title {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.playAgainBtn {
    background: #FDBA31;
    border: 0.25rem #2a75bb solid;
    color: #fff;
    display: block;
    font-family: Anton;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
}

//MEDIA QUERIES